body{
    background-color:#D9D9D9;
}
.personal-information   {
    background-color: #5B8F8F;
    width: 280px;
    height: 720px;
}

.name-icon{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-left: 10px;
    margin-top: 10px;
    width:250px;
    border-radius: 200px;
}
.name{
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.address-icon{
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 310px;
    left: 17px;
}
.address{
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    margin-left: 40px;
    margin-top: 10px;
    float: left;
    position: absolute;

}
.contact-icon{
    width: 23px;
    border-radius: 50%;
    position: absolute;
    top: 348px;
    left: 22px;
}
.contact{
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    margin-top: 40px;
    margin-left: 41px;
    position: absolute;
}
.email-icon{
    width: 1.7%;
    margin-top: 70px;
    margin-bottom: 0px;
    position: absolute;
    margin-left: 14px;
}
.email{
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    margin-top: 70px;
    margin-left: 41px;
    position: absolute;
}
.aboutme-icon{
    width: 2.3%;
    position: absolute;
    bottom: 231px;
    left: 25px;
}
.about-me{
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 210px;
    margin-left: 55px;
    position: absolute;
}
.aboutme-list{
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    margin-top: 250px;
    margin-left: 10px;
    position: absolute;
    line-height: 30px;
}

.language-icon{
    width: 3%;
    position: absolute;
    margin-left: 290px;
    top: 20px;
}
.language{
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 340px;
    top: 10px;
    position: absolute;
}
.english{
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    margin-left: 290px;
    top: 50px;
    position: absolute;
}
.english-bar{
    margin-left: 290px;
    top: 100px;
    position: absolute;
}
.tagalog{
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    margin-left: 290px;
    top: 140px;
    position: absolute;
}
.tagalog-bar{
    margin-left: 290px;
    top: 190px;
    position: absolute;
}
.skills-icon1{
    left: 282px;
    top: 240px;
    position: absolute;
    width: 5%;
}
.skills1{
    left: 340px;
    top: 250px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: bold;
    
}
.word {
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    margin-left: 290px;
    top: 290px;
    position: absolute;
}
.word-bar{
    margin-left: 290px;
    top: 340px;
    position: absolute;
}
.excel{
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    margin-left: 290px;
    top: 370px;
    position: absolute;
}
.excel-bar{
    margin-left: 290px;
    top: 420px;
    position: absolute;
}
.powerpoint{
    margin-left: 290px;
    top: 445px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
}
.powerpoint-bar{
    margin-left: 290px;
    top: 495px;
    position: absolute;
}
.troubleshooting{
    margin-left: 290px;
    top: 520px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
}
.troubleshooting-bar{
    margin-left: 290px;
    top: 570px;
    position: absolute;
}
.editing{
    margin-left: 290px;
    top: 600px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
}
.editing-bar{
    margin-left: 290px;
    top: 650px;
    position: absolute;
} 
.rectangle1 {
    height: 400px;
    width: 650px;
    border-style: solid;
    border-width: 1px;
    background-color: #EEEDE7;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 3px -3px 3px ;
}
.container1{
    text-align: top right;
    left: 0;
    right: 0;
}
.education-icon{
    width: 4%;
    position: absolute;
    top: 30px;
    right: 613px;
}
.education{
    top: 20px;
    right: 485px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: bold;
    
}
.college-date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
    position: absolute;
    top: 60px;
    right: 540px;
}
.college{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    position: absolute;
    top: 100px;
    right: 405px;
}
.seniorhigh-date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
    position: absolute;
    top: 150px;
    right: 568px;
}
.seniorhigh{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    position: absolute;
    top: 190px;
    right: 380px;
}
.highschool-date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
    position: absolute;
    top: 240px;
    right: 568px;
}
.highschool{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    position: absolute;
    top: 280px;
    right: 185px;
}
.elementary-date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
    position: absolute;
    top: 330px;
    right: 568px;
}
.elementary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    position: absolute;
    top: 370px;
    right: 390px;
}
.container2{
    text-align: bottom right;
    left: 0;
    right: 0;
}
.rectangle2 {
    height: 270px;
    width: 650px;
    border-style: solid;
    border-width: 1px;
    background-color: #EEEDE7;
    position: absolute;
    top: 450px;
    right: 20px;
    box-shadow: 3px -3px 3px;
}
.work-icon{
    width: 3.5%;
    position: absolute;
    top: 457px;
    right: 613px;
}
.work {
    top: 453px;
    right: 400px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 16pt;
    font-weight: bold;
}
.work-list{
    top: 500px;
    right: 30px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    line-height: 30px;
}
.container3{
    text-align: bottom right;
    left: 0;
    right: 0;
}
.rectangle3{
    height: 60px;
    width: 650px;
    border-style: none;
    background-color: #5B8F8F;
    position: absolute;
    top: 661px;
    right: 21px;
}
.socials{
    top: 653px;
    right: 250.5px;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: 12pt;
    font-weight: bold;
    color: white;
}
.fb-icon{
    top: 690px;
    right: 350px;
    position: absolute;
    width: 1.6%;
}


.instagram-icon{
    top: 690px;
    right: 320px;
    position: absolute;
    width: 1.6%;
}
.tiktok-icon {
    top: 690px;
    right: 290px;
    position: absolute;
    width: 1.6%;
}